<%= link_to "Show all", "/lists" %>
<%= link_to "New item", new_list_item_path(@list) %>

<h2><%= @list.title %></h2>

<h3><%= @list.items.count %> items</h3>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Description</th>
      <th>Due</th>
      <th>Buttons</th>
    </tr>
  </thead>
  <tbody>
    <% @list.items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.description %></td>
        <td><%= item.due_date %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
